<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="BDAutoMuxer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
		<BDAutoMuxer.Properties.Settings>
   <setting name="LastPath" serializeAs="String">
    <value />
   </setting>
   <setting name="OutputDir" serializeAs="String">
    <value>%TEMP%\%volume%</value>
   </setting>
   <setting name="OutputFileName" serializeAs="String">
    <value>%title% (%year%) [%res%]</value>
   </setting>
   <setting name="ApiKey" serializeAs="String">
    <value />
   </setting>
   <setting name="DetailsWindowMaximized" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CheckForUpdates" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ReplaceSpaces" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ReplaceSpacesWith" serializeAs="String">
    <value>.</value>
   </setting>
   <setting name="DemuxLPCM" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DemuxSubtitles" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AudienceLanguage" serializeAs="String">
    <value />
   </setting>
   <setting name="PreferredAudioCodecs" serializeAs="String">
    <value>HD_ONLY</value>
   </setting>
   <setting name="UpgradeRequired" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SelectHighestChannelCount" serializeAs="String">
    <value>True</value>
   </setting>
  </BDAutoMuxer.Properties.Settings>
	</userSettings>
</configuration>
